html {
  background-color: rgba(127, 255, 240, 0.71);
}

header {
  /* margin: 0px 10%; */
  padding-bottom: 30px;
  background-color:rgba(18, 208, 145, 0.257);
  
}

section #header {
  margin-bottom: 20px;
}

#logo {
  position: absolute;
  height: 130px;
  margin-top: 25px;
  margin-left: 20px;
  z-index: -1;
}

h1 {
  font-family: 'Sansita', sans-serif;
  font-size: 90px;
  z-index: 9;
  display: block;
  color: salmon;
  text-align: center;
  padding: 10px;
}

nav {
  padding: 10px;
}

a {
  font-family: 'Sansita', sans-serif;
  padding-inline: 5px;
  text-decoration: none;
  background-color: aqua;
  border-radius: 20px;
  border: 2px;
  color: salmon;
  line-height: 1;
  font-size: 25px;
  transition: 600ms;
}

a:hover {
  color: rgb(243, 52, 132);
  font-size: 30px;
  font-weight: bold;
}

nav {
  text-align: center;
}

main {
  margin: 0px 10%;
  background-color:rgba(39, 147, 174, 0.27);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#text {
  background-color: rgba(123, 212, 193, 0.388);
  padding-bottom: 50px;
}

h2 {
  font-family: 'Sansita', sans-serif;
  color: salmon;
  font-size: 45px;
  padding: 20px 0px 30px 10px;
}

.main{
  color: rgb(193, 135, 100);
  line-height: 1.5;
  font-size: 20px;
  text-indent: 50px;
  padding: 5px;
}

ul {
  text-align: center;
  line-height: 1.3;
}

#bigFish {
  padding: 50px;
  text-align: center;
  z-index: -1;
  max-width: 100%;
  height: auto;
}

li {
  padding-bottom: 10px;
}

footer {
  background-color: rgba(211, 247, 191, 0.31);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  flex-shrink: 0;
}

.foot{
  margin: 0px 10%;
  padding-top: 10px;
  color: rgb(104, 75, 56);
  line-height: 1;
  font-weight: bold;
}

h3 {
  margin: 0px 10%;
  padding-top: 5px;
  font-family: 'Sansita', sans-serif;
  color: salmon;
  font-size: 20px;
}

#copy {
  text-align: center;
  color: rgb(89, 129, 151);
  padding: 10px;
}

h4 {
  margin: 0px 10%;
  padding-top: 5px;
  font-family: 'Sansita', sans-serif;
  color: salmon;
  font-size: 30px;
}

#summaryTable {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#employeeTable {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border: 3px solid black;
  background-color: rgba(54, 124, 162, 0.643);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  border: 1px solid black;
  color: rgb(10, 10, 90);
  padding: 5px 3px;
  font-weight: bold;
}

td {
  text-align: center;
  border: 1px solid black;
  margin: 10 px;
  color: black;
  padding: 3px;
}

::placeholder {
  color: salmon;
}

#note {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(193, 135, 100);
  line-height: 1;
  font-size: 15px;
  padding: 5px 0px 20px 0px;
}

#newCity{
  margin: 0px 10%;
  background-color: rgba(123, 212, 193, 0.388);
  padding: 20px 0px;
  font-family: 'Sansita', sans-serif;
}